APP=ferret-$(whoami)
HEROKU_USERNAME=unpriveledged.heroku.account@gmail.com
HEROKU_API_KEY=$(heroku sudo user:info -x --user=$HEROKU_USERNAME | awk '/Api Key:/ {print $3;}' | head -1)
ORG=ferret-dev
L2MET_URL=https://drain.l2met.net/consumers/6f65d7cc-5443-4a99-9545-8bec7a301941/logs
