APP=ferret-<username>
FERRET_USER=<username>
GMAIL_USER=<username>@gmail.com
UNPRIVILEGED_HEROKU_API_KEY=<API key for GMAIL_USER>
ORG=ferret-dev
L2MET_URL=https://drain.l2met.net/consumers/<uuid>/logs