APP=ferretapp
GMAIL_USER=heroku.ferret@gmail.com:deadbeef84c277fa
HEROKU_API_KEY=deadbeef87a9b10d49ab5036216c41b7f8cc3633
LIBRATO_API_URL=https://heroku.ferret%40gmail.com:deadbeef01baaa502bd80fcc1039ff6cd2eee2f6@metrics-api.librato.com/
